{% extends 'about/layout.html.twig' %}
{% set pageName = "Notre histoire" %}
{% block title %}
    {{pageName}}
{% endblock %}

{% block body %}
    <section id="top-page">
        <section id="who-top-page" class="d-flex align-items-center justify-content-center">
            {% include "components/atoms/aboutTitle.html.twig" with {
            pageName : pageName
        } %}
        </section>
        <section id="history" class="container">
            <p class="text-font-script display-3 fw-bold text-center">
                <span>Elle s'appelait
                </span>
                <span class="text-success-800">Philo</span>
                <span class="d-block">... C'était ma Mémé.</span>
            </p>
            <div class="fs-1 lh-5">
                <p>Ses dernières années sur cette terre m’ont fait prendre conscience du besoin de développer les solutions facilitant la prise en charge de nos parents âgés en Afrique.
                </p>
                <p>En effet chaque étape de la perte d’autonomie de Mémé a été compliquée : Où acheter les protections adultes, le fauteuil roulant ? Où trouver un hôpital avec un centre spécialisé en gériatrie ?
                </p>
                <p>…. A chaque fois l’information a été difficile et longue à trouver.
                </p>
                <p>Cette expérience m’a permis de faire les constats suivants :
                </p>
                <ol>
                    <li class="mt-5">Il reste beaucoup à faire en ce qui concerne une prise en charge professionnelle des personnes âgées en Afrique subsaharienne. Cependant, il existe des services et alternatives développés localement.
                    </li>
                    <li class="mt-5">Les solutions déjà existantes sont peu connues et l’information sur ce sujet est difficilement accessible.
                    </li>
                </ol>
                <p class="text-success-800 fw-bold text-center mt-5">A l’ère d’internet, l’accès à l’information aurait dû être plus facile.
                </p>
            </div>
        </section>
    </section>
{% endblock %}
