{% extends 'about/layout.html.twig' %}
{% set pageName = "Objectif & vision" %}
{% block title %}
    {{pageName}}
{% endblock %}

{% block body %}
    <section
        id="top-page">

        {# section vision #}
        <section id="who-top-page" class="d-flex align-items-center justify-content-center">
            {% include "components/atoms/aboutTitle.html.twig" with {
                pageName : "Notre vision"
            } %}
        </section>
        <section id="vision" class="container-fluid row justify-content-center my-3">
            <div class="col-6 text-center">
                <img src={{asset('images/objective.png') | imagine_filter('big')}} alt="carte d'Afrique" class="img-responsive">
            </div>
            <div class="col-12 text-center">
                <p class="display-5 font-monospace fw-bold">
                    <span class="text-success-800 d-block">Contribuer au</span>
                    <span class="text-primary d-block">Bien Vieillir</span>
                    <span class="text-success-800 d-block">en</span>
                    <span class="text-warning d-block">Afrique</span>
                </p>
            </div>
        </section>

        {# section objectve #}
        <section id="who-top-page" class="d-flex align-items-center justify-content-center">
            {% include "components/atoms/aboutTitle.html.twig" with {
                pageName : "Notre objectif"
            } %}
        </section>
        <section id="objective" class="container-fluid my-3 d-flex align-items-center">
            <div class="my-5">
                <div class="text-center">
                    <img src={{asset('images/vision.jpg') | imagine_filter('thumb')}} alt="Une personne heureuse qui lève le poing" class="img-responsive float-start pe-5"></div>
                <div class="">
                    <p class="fs-1 text-justify container-fluid">Faire de la plateforme
                        <span class="text-success-800 fst-italic fw-bold text-nowrap">
                            Maison Philo
                        </span>
                        un espace collaboratif incontournable qui reporte toute information ou proposition de services pouvant aider à améliorer la vie d'un Papy ou d'une Mamie en Afrique subsaharienne francophone.
                    </p>
                </div>
            </div>

        </section>

    </section>
{% endblock %}
