{% extends 'home/layout.html.twig' %}
{% set pageName = "Page d'accueil" %}
{% block share %}{% endblock %}
{% block body %}

{% include "components/organisms/homeNavbar.html.twig" %}
<div>
    <section
        id="top-page" class="js-parallax d-flex justify-content-center align-items-center flex-column" data-aos="fade-up" data-aos-duration="3000">
        {# top-page #}
        <p class="display-1 fw-bold text-light text-center">
            <span class="js-title"></span>
        </p>
        <div class="display-5 mt-3 fw-bold text-title container text-center">
            Votre plateforme de partage d'information et de services concernant les personnes âgées en Afrique subsaharienne francophone</div>
        <a href="#services" class="btn btn-success mt-5 text-uppercase fs-1">En savoir plus</a>
    </section>
    {# services #}
    {% embed "components/molecules/sectionHome.html.twig" with {
        id: "services"
    } %}
        {% block content %}
            <div class="row justify-content-center">
                {% include "components/atoms/homeTitle.html.twig" with {
                    content : "Services"
                } %}

                {% include "components/atoms/fontCircle.html.twig" with {
                    title : "Partage d'information",
                    content : "Vous cherchez une information pouvant aider au bien-être de nos aînés ?
                    Vous disposez d'information pas encore publiée sur ce site ?
                    Bienvenue sur cet espace collaboratif !
                    ",
                    font :  "fa-solid fa-share-nodes",      
                    href : "app_assistance_share",
                    img : "data_share.jpg",
                } %}

                {#          {% include "components/atoms/fontCircle.html.twig" with {
                title : "Petites annonces",
                content : "Vous cherchez un service dédié à une personne âgée ? Vous offrez des services à destination de nos séniors ? Alors, cet espace est fait pour vous !",
                font : "fa-solid fa-laptop",
                href : "app_product_index",
                img : "annoncer.jpg",
                } %} #}

                {% include "components/atoms/fontCircle.html.twig" with {
                    title : "Actions sociales",
                    content : "Venez retrouver nos ONG partenaires ainsi que les actions sociales dédiées à nos parents âgés que nous soutenons.",
                    font : "fa-solid fa-hand-holding-heart",
                    href : "app_assistance_social",
                    img : "action_sociale.jpg",
                } %}

                <div type="button" id="liveToastBtn">
                    {% block title %}
                        <h4 class="my-3 display-5 fw-bold">Petites annonces</h4>
                        <p class="text-muted mx-auto display-5">Vous cherchez un service dédié à une personne âgée ? Vous offrez des services à destination de nos séniors ? Alors, cet espace est fait pour vous !
                        </p>
                    {% endblock %}
                    <figure class="p-3" data-aos="fade-down" data-aos-duration="3000">
                        <a class="hover10">
                            <img src={{asset('images/annoncer.jpg' | imagine_filter('circle'))}} alt="annonces" class="shadow rounded-circle bg-success border border-5 border-light">
                            <figcaption class="position-absolute top-50 text-success-800 d-none" style="width:7em; height:3em; left:calc(100%/2 - 3.5em)"></figcaption>
                        </a>
                    </figure>
                </div>

            </div>
        {% endblock %}
    {% endembed %}

    {# vision #}
    {% embed "components/molecules/sectionHome.html.twig" with {
        id: "vision",
        class: "bg-warning-200"
    } %}

        {% block content %}
            <div class="row justify-content-center container-fluid">
                <div class="col-10 col-lg-6 mb-5">
                    <h1 class="text-dark display-1 text-center js-vision fw-bold mb-5 text-font-1"></h1>
                    <div class="display-4 p-2  text-center my-5">
                        <span class="text-success fw-bold d-block">Maison Philo</span>
                        <span class="text-black">est une entreprise sociale dédiée au partage d'information  et de services aux personnes âgées en Afrique subsaharienne francophone</span>
                    </div>
                </div>
                <div class="col-lg-3 col-xlg-3 col-8 text-center">
                    <img src={{asset("images/objective.png")}} class="img-fluid" alt="objectif" data-aos="fade-up" data-aos-duration="3000">
                </div>
            </div>
        {% endblock %}

    {% endembed %}
    {# Section about #}
    <section id="about" class="d-flex flex-column align-items-center text-center container-fluid" data-aos="fade-up" data-aos-duration="3000">
        <div class="row justify-content-center">
            {% include "components/atoms/homeTitle.html.twig" with {
                content : "A Propos"
            } %}
            <span class="fs-1 text-muted container">« Rêvez grand, commencez petit, agissez maintenant. » Robin Sharma</span>
        </div>

        {% embed "components/molecules/aboutDescription.html.twig" with {
            title : "Qui sommes nous?",
            content : "Elle s’appelait Philo… C’était ma Mémé.",
            href : "app_about_who",
        } %}
            {% block content %}
                {% embed "components/atoms/fontCircle.html.twig" with {
                    img : "philo.jpg",
                    content : "Mémé Philomène",
                } %}
                    {% block title %}{% endblock %}
                {% endembed %}
            {% endblock %}

        {% endembed %}
        <div class="mt-5"></div>
        {% embed "components/molecules/aboutDescription.html.twig" with {
            title : "Vieillissement dans le monde",
            content : "Partout dans le monde, la tendance est à une espérance de vie plus longue grâce à l’effet combiné de l’amélioration des conditions de vie et des avancées en matière de santé.",
            href : "app_about_world",
        } %}
            {% block content %}
                {% embed "components/atoms/fontCircle.html.twig" with {
                    img : "monde.jpg",
                } %}
                    {% block title %}{% endblock %}
                {% endembed %}
            {% endblock %}

        {% endembed %}
        <div class="mt-5"></div>
        {% embed "components/molecules/aboutDescription.html.twig" with {
            title : "Vieillisement en Afrique",
            content : "Souvent présenté comme un continent jeune, l’Afrique n’échappe cependant pas à l’augmentation du nombre de personnes âgées suivant ainsi une tendance mondiale.",
            href : "app_about_africa",
        } %}
            {% block content %}
                {% embed "components/atoms/fontCircle.html.twig" with {
                    img : "afrique.png",
                } %}
                    {% block title %}{% endblock %}
                {% endembed %}
            {% endblock %}

        {% endembed %}

        <div id="contact" class="my-5"></div>
        {% embed "components/molecules/aboutDescription.html.twig" with {
            title : "Contactez-nous",
            content : "",
            href : "app_contact_index",
        } %}
            {% block content %}
                {% embed "components/atoms/fontCircle.html.twig" with {
                    img : "logo_maison_philo2.png",
                } %}
                    {% block title %}{% endblock %}
                {% endembed %}
            {% endblock %}
        {% endembed %}
    </section>
    <section id="commit" class="row" data-aos="fade-up" data-aos-duration="3000">
        <div class="col-12 text-center mb-5 container-fluid">
            {% include "components/atoms/homeTitle.html.twig" with {
                content : "Nos engagements"
            } %}
            <p class="text-muted fs-1">Pour le développement durable</p>
        </div>

        {% include "components/atoms/btnSquare.html.twig" with {
            png: "sante.png",
            alt: "Santé et bien être",
            content: "L'objectif fixé par les Nations Unies dans le cadre de cet engagement est de permettre à tous de vivre en bonne santé et promouvoir le bien-être de tous à tout âge.",
            hide: "Nous l'avons retenu car le vieillissement s'accompagne souvent d'une augmentation du risque d'apparition de problèmes de santé. Un des défis liés au vieillissement en Afrique est de faire évoluer les systèmes de sante afin d' améliorer l’accès de la population à la santé et aux soins de santé. Nous voulons y contribuer à travers le partage d'informations.",
            index: 1
        } %}

        {% include "components/atoms/btnSquare.html.twig" with {
            png: "travail.png",
            alt: "Travail et croissance économique",
            content: "Promouvoir une croissance économique soutenue, partagée et durable, le plein emploi productif et un travail décent pour tous. ",
            hide: "L'objectif fixé par les Nations Unies dans le cadre de cet engagement est de promouvoir une croissance économique soutenue, partagée et durable, le plein emploi productif et un travail décent pour tous. Aujourd'hui, la prise en charge des séniors africains se fait beaucoup de manière informelle. Ainsi, ce sont souvent les \"petites bonnes\" qui sont chargées de s'occuper des grands parents âgés en perte d'autonomie alors qu'elles n'ont généralement aucune formation préalable pour cela.Notre volonté est de contribuer à la valorisation du travail des personnes qui prennent soin de nos parents âgées. Nous pensons que, le fait de favoriser leur formation contribuera non seulement à améliorer le bien être de la personne âgée mais permettra également l'amélioration des conditions de vie du personnel formé grâce à une progression des perspectives professionnelles. Nous croyons que le domaine de la prise en charge des personnes âgées présente un gros potentiel de création d'emplois. Si les bonnes mesures sont anticipées pour permettre que ces emplois soient durables et décent, une \"silver economie à l' africaine\" peut contribuer à la croissance économique des états africains.",
            index: 2
        } %}

            {% include "components/atoms/btnSquare.html.twig" with {
                png: "ville.png",
                alt: "Travail et croissance économique",
                content: "L'objectif fixé par les Nations Unies dans le cadre de cet engagement est de faire en sorte que les villes et les établissements humains soient ouverts à tous, résilients et durables.",
                hide: "Aujourd'hui, la majorité des personnes âgées africaines vivent en zone rurale. Cependant, comme pour les autres tranches d'âge, la tendance est aussi à l'urbanisation des séniors africains. Nos villes et communautés sont elles prêtes, adaptées aux personnes âgées dont le nombre est appelé à croître ? Les transports, les infrastructures, les accès aux bâtiments ... prennent ils en compte cette évolution. Notre volonté est de participer à la prise de conscience qu'il est nécessaire d'intégrer dans les choix d'urbanisation le fait que la population âgée est appelée à augmenter dans les villes africaines.",
                index: 3
            } %}


</section>
{# Section contact #}
<section id="contact" class="row container-fluid"></section>

{# toast section #}
{% include "components/atoms/toast.html.twig" %}

{% endblock %}
