{% extends 'home/layout.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
    <div data-spy="scroll" data-target="#mainNav" data-offset="0" class="text-monospace">
        {% include "components/organisms/homeNavbar.html.twig" %}
        {# top-page #}
        <section id="top-page" class="d-flex justify-content-center align-items-center flex-column" data-aos="fade-up" data-aos-duration="3000">
            <p class="display-1 fw-bold text-light text-center">
                <span class="js-title"></span>
            </p>
            <div class="display-5 mt-3 text-center fw-bold text-title">
                Votre plateforme de partage d'information et de services concernant les personnes âgées en Afrique subsaharienne francophone</div>
            <a href="#services" class="btn btn-success mt-5 text-uppercase fs-1">En savoir plus</a>
        </section>
        {# services #}
        <section id="services" class="d-flex align-items-center text-center container-fluid" data-aos="fade-up" data-aos-duration="3000">
            <div class="row justify-content-center">
                {% include "components/atoms/homeTitle.html.twig" with {
                    content : "Services"
                } %}

                {% include "components/atoms/fontCircle.html.twig" with {
                    title : "Partage d'information",
                    content : "Vous cherchez une information pouvant aider au bien-être de nos aînés ?
                    Vous disposez d'information pas encore publiée sur ce site ?
                    Bienvenue sur cet espace collaboratif !
                    ",
                    font :  "fa-solid fa-share-nodes",      
                    path_link : "app_assistance_share"

                } %}

                {% include "components/atoms/fontCircle.html.twig" with {
                       title : "Petites annonces",
                       content : "Vous cherchez un service dédié à une personne âgée ? Vous offrez des services à destination de nos séniors ? Alors, cet espace est fait pour vous !",
                       font : "fa-solid fa-laptop",
                       path_link : "app_assistance_share"
                   } %}

                {% include "components/atoms/fontCircle.html.twig" with {
                       title : "Actions sociales",
                       content : "Venez retrouver nos ONG partenaires ainsi que les actions sociales dédiées à nos parents âgés que nous soutenons.",
                       font : "fa-solid fa-hand-holding-heart",
                       path_link : "app_assistance_share"
                   } %}

            </div>
        </section>
        {# vision #}
        <section id="vision" class="bg-warning-200 d-flex align-items-center" data-aos="fade-up" data-aos-duration="3000">
            <div class="row justify-content-center container-fluid">
                <div class="col-10 col-lg-6">
                    <h1 class="text-dark display-1 text-center  js-vision fw-bold mb-5 text-font-1"></h1>
                    <div class="display-4 p-2  text-center mt-5">
                        <span class="text-success fw-bold d-block">Maison Philo</span>
                        <span class="text-black">est une entreprise sociale dédiée au partage d'information  et de services aux personnes âgées en Afrique subsaharienne francophone</span>
                    </div>
                </div>

                <img src={{asset("images/objective.png") | imagine_filter('thumb')}} class="img-fluid col-lg-5 col-xlg-6 col-6" alt="objectif" data-aos="fade-up" data-aos-duration="3000">
            </div>
        </section>
        {# Section about #}
        <section id="about" class="d-flex flex-column align-items-center justify-content-center container-fluid" data-aos="fade-up" data-aos-duration="3000">
            <div class="text-center mb-5">
                {% include "components/atoms/homeTitle.html.twig" with {
                        content : "A Propos"
                    } %}
                <span class="fs-1 text-muted">« Rêvez grand, commencez petit, agissez maintenant. » Robin Sharma</span>
            </div>
                {% include "components/molecules/aboutDescription.html.twig" with {
                        title : "Qui sommes nous?",
                        content : "Elle s’appelait Philo… C’était ma Mémé.",
                        images : "philo.jpg",
                        alt : "Mémé Philomène",
                        href : "app_about_who"
                    } %}

                {% include "components/molecules/aboutDescription.html.twig" with {
                        title : "Vieillisement en Afrique",
                        content : "lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum",
                        images : "afrique.png",
                        alt : "Vieillisement en Afrique",
                        href : "app_about_africa"
                    } %}

                {% include "components/molecules/aboutDescription.html.twig" with {
                        title : "Vieillissement dans le monde",
                        content : "lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum",
                        images : "monde.jpg",
                        alt : "Vieillissement dans le monde",
                        href : "app_about_world"                       
                    } %}

                {% include "components/molecules/aboutDescription.html.twig" with {
                        title : "Téléchargez notre E-Book",
                        content : "",
                        images : "logo_maison_philo2.png",
                        alt : "MaisonPhilo",
                        href : "app_home_index"
                    } %}


        </section>
        {# Section commitment #}
        <section id="commit" class="row gx-0">
            <div class="col-12 text-center mb-5 container-fluid">
                {% include "components/atoms/homeTitle.html.twig" with {
                        content : "Nos engagements"
                    } %}
                <p class="text-muted fs-2">Pour le développement durable</p>
            </div>
            <div class="col-lg-4 text-center mb-5 btn-square gx-3">

                <img src={{ asset('images/sante.png') | imagine_filter('thumb') }} alt="Bonne santé et bien être">
                <p class="d-block fs-1 text-justif">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae nesciunt voluptatibus pariatur, consequatur corrupti illo cum. Expedita pariatur corrupti nostrum ratione porro, harum, sunt cumque quia ipsum nulla culpa saepe.</p>
            </div>
            <div class="col-lg-4 text-center mb-5 btn-square">
                <img src={{ asset('images/travail.png') | imagine_filter('thumb') }} alt="Travail décent et croissance économique">
                <p class="d-block fs-1 text-justify">yoooooooo sum dolor sit amet consectetur, adipisicing elit. Quae nesciunt voluptatibus pariatur, consequatur corrupti illo cum. Expedita pariatur corrupti nostrum ratione porro, harum, sunt cumque quia ipsum nulla culpa saepe.</p>
            </div>
            <div class="col-lg-4 text-center mb-5 btn-square">
                <img src={{ asset('images/ville.png') | imagine_filter('thumb')}} alt="Villes et communautés durables">
                <p class="d-block fs-1 text-justify">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae nesciunt voluptatibus pariatur, consequatur corrupti illo cum. Expedita pariatur corrupti nostrum ratione porro, harum, sunt cumque quia ipsum nulla culpa saepe.</p>
            </div>
        </section>
        {# Section contact #}
        <section id="contact" class="row container-fluid"></section>
    </div>
{% endblock %}
