{% extends 'home/layout.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
    <div data-spy="scroll" data-target="#mainNav" data-offset="0">
        {% include "components/organisms/homeNavbar.html.twig" %}
        <section id="top-page" class="d-flex justify-content-center align-items-center flex-column">
            <p class="display-3 text-monospace fw-bold title text-light">
                Bienvenue chez
                <span class="text-nowrap">Maison Philo</span>
            </p>
            <a href="#maisonphilo" class="btn btn-success mt-5 text-uppercase fs-2">En savoir plus</a>
        </section>
        <section id="services" class="d-flex align-items-center justify-content-center">
            <div class="text-center">
                {% include "components/atoms/homeTitle.html.twig" with {
                    content : "Services"
                } %}
                <div class="text-muted fs-2 mx-auto mt-3 w-75">
                    Votre plateforme de partage d'information et de services concernant les personnes âgées en Afrique subsaharienne francophone</div>
                <div class="col-12 row mt-5 justify-content-evenly">

                    {% include "components/atoms/fontCircle.html.twig" with {
                       title : "Partage d'information",
                       content : "Vous cherchez une information pouvant aider au bien-être de nos aînés ? Alors, Bienvenue sur cet espace collaboratif qui présente les informations déjà portées à notre connaissance. Si vous disposez d'information pas encore publiée sur ce site, n’hésitez pas à nous les partager!",
                       font :  "fa-solid fa-share-nodes"
                   } %}


                    {% include "components/atoms/fontCircle.html.twig" with {
                       title : "Petites annonces",
                       content : "Vous cherchez un service dédié à une personne âgée ? Vous offrez des services à destination de nos séniors ? Alors, cet espace est fait pour vous !",
                       font : "fa-solid fa-laptop"
                   } %}

                    {% include "components/atoms/fontCircle.html.twig" with {
                       title : "Actions sociales",
                       content : "Venez retrouver nos ONG partenaires ainsi que les actions sociales dédiées à nos parents âgés que nous soutenons.",
                       font : "fa-solid fa-hand-holding-heart"
                   } %}

                </div>
            </section>
            <section id="maisonphilo" class="bg-warning-200 d-flex align-items-center">
                <div class="">
                    <h1 class="text-dark display-2 text-center  text-font-family-1">
                        <div class="typed fw-bold text-font display-3"></div>
                    </h1>
                    <div class="fs-2 p-2 d-flex flex-column">
                        <span class="text-success">Maison Philo</span>
                        <span class="text-black">est une entreprise sociale dédiée au partage d'information  et de services aux personnes âgées en Afrique subsaharienne francophone</span>
                    </div>
                </div>
                <img src={{asset("images/objective.png")}} class="img-fluid" alt="objectif" data-aos="fade-left" data-aos-duration="3000">
            </section>
            <section id="about" class="d-flex flex-column justify-content-center">
                <div class="text-center container-fluid mb-5">
                    {% include "components/atoms/homeTitle.html.twig" with {
                        content : "A Propos"
                    } %}
                    <span class="fs-2 text-muted">« Rêvez grand, commencez petit, agissez maintenant. » Robin Sharma</span>
                </div>
                <div class="mx-auto mt-5 d-flex flex-column">


                    {% include "components/molecules/aboutDescription.html.twig" with {
                        title : "Qui sommes nous?",
                        content : "Elle s’appelait Philo… C’était ma Mémé.",
                        images : "philo.jpg",
                        position : "end",
                        alt : "Mémé Philomène",
                        href : ""
                    } %}

                    {% include "components/molecules/aboutDescription.html.twig" with {
                        title : "Vieillisement en Afrique",
                        content : "lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum",
                        images : "afrique.png",
                        position : "start",
                        alt : "Vieillisement en Afrique",
                        href : ""

                    } %}

                    {% include "components/molecules/aboutDescription.html.twig" with {
                        title : "Vieillissement dans le monde",
                        content : "lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum",
                        images : "monde.jpg",
                        position : "end",
                        alt : "Vieillissement dans le monde",
                        href : ""                       
                    } %}

                    {% include "components/molecules/aboutDescription.html.twig" with {
                        title : "Téléchargez notre E-Book",
                        content : "",
                        images : "logo_maison_philo2.png",
                        position : "start",
                        alt : "MaisonPhilo",
                        href : ""
                    } %}

                </div>

            </section>
            {# Section connection #}
            <section id="connection" class="row justify-content-evenly gx-0">
                <div class="col-12 text-center">
                    {% include "components/atoms/homeTitle.html.twig" with {
                        content : "Nos engagements pour le développement durable"
                    } %}</div>
                <div class="col-lg-3 text-center">
                    <img src={{ asset('images/sante.png') }} alt="Bonne santé et bien être">
                </div>
                <div class="col-lg-3 text-center">
                    <img src={{ asset('images/travail.png') }} alt="Travail décent et croissance économique">
                </div>
                <div class="col-lg-3 text-center">
                    <img src={{ asset('images/ville.png') }} alt="Villes et communautés durables">
                </div>
            </section>
            {# Section contact #}
            <section id="contact" class="row">.</section>


        </div>
    {% endblock %}
