{% extends 'country/layout.html.twig' %}

{% block title %}Informations par pays
{% endblock %}

{% block body %}
    <section id="top-page">

        <div id="social-top-page" class="bg-success-800 text-center py-5">
            {% include "components/atoms/aboutTitle.html.twig" with {
                pageName : country.name | country_name
            } %}
        </div>

        <div
            class="accordion" id="accordionExample">
            {# item hospital #}
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button border-none p-0 bg-success text-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <section id="country-theme" class="d-flex align-items-center country-hospital">
                            <h3 class="text-light display-3 text-center col-12 fw-bold my-5 title">
                                Hôpitaux & Centres médicaux
                            </h3>
                        </section>
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse hide" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <section id="hospital" class="row container-fluid mx-auto">
                            {% for hospital in hospitals %}
                                {% include "components/molecules/hospitalDescription.html.twig" with {
                                    title :hospital.name,
                                    subTitle : hospital.subTitle,
                                    description : hospital.content,
                                    phoneNumber : hospital.phoneNumber,
                                    email : hospital.email
                                    } %}
                            {% endfor %}
                        </section>
                    </div>
                </div>
            </div>
            {# item market #}
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button border-none p-0 bg-success text-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                        <section id="country-theme" class="d-flex align-items-center country-market">
                            <h3 class="text-light display-3 text-center col-12 fw-bold my-5 title">
                                Commerces spécialisés
                            </h3>
                        </section>
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse hide" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <section id="hospital" class="row container-fluid mx-auto">
                        <pre>
                            {{ dump(hospitals) }}
                        </pre>
                            {% for hospital in hospitals %}
                                {% include "components/molecules/hospitalDescription.html.twig" with {
                                    title :hospital.name,
                                    subTitle : hospital.subTitle,
                                    description : hospital.content,
                                    phoneNumber : hospital.phoneNumber,
                                    email : hospital.email
                                } %}
                            {% endfor %}
                        </section>
                    </div>
                </div>
            </div>
            {# item specialist #}
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button border-none p-0 bg-success text-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                        <section id="country-theme" class="d-flex align-items-center country-specialist">
                            <h3 class="text-light display-3 text-center col-12 fw-bold my-5 title">
                                Annuaire spécialistes locaux
                            </h3>
                        </section>
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse hide" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <section id="hospital" class="row container-fluid mx-auto">
                            {% for hospital in hospitals %}
                                {% include "components/molecules/hospitalDescription.html.twig" with {
                                    title :hospital.name,
                                    subTitle : hospital.subTitle,
                                    description : hospital.content,
                                    phoneNumber : hospital.phoneNumber,
                                    email : hospital.email
                                } %}
                            {% endfor %}
                        </section>
                    </div>
                </div>
            </div>
            {# item association #}
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button border-none p-0 bg-success text-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                        <section id="country-theme" class="d-flex align-items-center country-association">
                            <h3 class="text-light display-3 text-center col-12 fw-bold my-5 title">
                                Annuaire associations
                            </h3>
                        </section>
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse hide" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <section id="hospital" class="row container-fluid mx-auto">
                            {% for hospital in hospitals %}
                                {% include "components/molecules/hospitalDescription.html.twig" with {
                                    title :hospital.name,
                                    subTitle : hospital.subTitle,
                                    description : hospital.content,
                                    phoneNumber : hospital.phoneNumber,
                                    email : hospital.email
                                } %}
                            {% endfor %}
                        </section>
                    </div>
                </div>
            </div>
            {# item service #}
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFive">
                    <button class="accordion-button border-none p-0 bg-success text-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                        <section id="country-theme" class="d-flex align-items-center country-service">
                            <h3 class="text-light display-3 text-center col-12 fw-bold my-5 title">
                                Offres de services dédiés
                            </h3>
                        </section>
                    </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse hide" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <section id="hospital" class="row container-fluid mx-auto">
                            {% for hospital in hospitals %}
                                {% include "components/molecules/hospitalDescription.html.twig" with {
                                    title :hospital.name,
                                    subTitle : hospital.subTitle,
                                    description : hospital.content,
                                    phoneNumber : hospital.phoneNumber,
                                    email : hospital.email
                                } %}
                            {% endfor %}
                        </section>
                    </div>
                </div>
            </div>
            {# item state-service #}
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingSix">
                    <button class="accordion-button border-none p-0 bg-success text-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                        <section id="country-theme" class="d-flex align-items-center country-state-service">
                            <h3 class="text-light display-3 text-center col-12 fw-bold my-5 title">
                                Dispositifs étatiques
                            </h3>
                        </section>
                    </button>
                </h2>
                <div id="collapseSix" class="accordion-collapse collapse hide" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <section id="hospital" class="row container-fluid mx-auto">
                            {% for hospital in hospitals %}
                                {% include "components/molecules/hospitalDescription.html.twig" with {
                                    title :hospital.name,
                                    subTitle : hospital.subTitle,
                                    description : hospital.content,
                                    phoneNumber : hospital.phoneNumber,
                                    email : hospital.email
                                } %}
                            {% endfor %}
                        </section>
                    </div>
                </div>
            </div>
            {# item statistic #}
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingSeven">
                    <button class="accordion-button border-none p-0 bg-success text-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
                        <section id="country-theme" class="d-flex align-items-center country-statistic">
                            <h3 class="text-light display-3 text-center col-12 fw-bold my-5 title">
                                Statistiques
                            </h3>
                        </section>
                    </button>
                </h2>
                <div id="collapseSeven" class="accordion-collapse collapse hide" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <section id="hospital" class="row container-fluid mx-auto">
                            {% for hospital in hospitals %}
                                {% include "components/molecules/hospitalDescription.html.twig" with {
                                    title :hospital.name,
                                    subTitle : hospital.subTitle,
                                    description : hospital.content,
                                    phoneNumber : hospital.phoneNumber,
                                    email : hospital.email
                                } %}
                            {% endfor %}
                        </section>
                    </div>
                </div>
            </div>
            {# item plus #}
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingEight">
                    <button class="accordion-button border-none p-0 bg-success text-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="true" aria-controls="collapseEight">
                        <section id="country-theme" class="d-flex align-items-center country-plus">
                            <h3 class="text-light display-3 text-center col-12 fw-bold my-5 title">
                                Plus
                            </h3>
                        </section>
                    </button>
                </h2>
                <div id="collapseEight" class="accordion-collapse collapse hide" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <section id="hospital" class="row container-fluid mx-auto">
                            {% for hospital in hospitals %}
                                {% include "components/molecules/hospitalDescription.html.twig" with {
                                    title :hospital.name,
                                    subTitle : hospital.subTitle,
                                    description : hospital.content,
                                    phoneNumber : hospital.phoneNumber,
                                    email : hospital.email
                                } %}
                            {% endfor %}
                        </section>
                    </div>
                </div>
            </div>

        </div>
    </section>
{% endblock %}
