{% extends 'country/layout.html.twig' %}

{% block title %}Informations par pays
{% endblock %}

{% block body %}
    <section id="top-page">
        <h2 class="display-2 text-success-800 text-center my-5 fw-bold">
            {{country.name}}
        </h2>
        <section id="country-top-page" class="d-flex align-items-center">
            <h3 class="text-light display-3 text-center col-12 fw-bold my-5 title">
                Hôpitaux & Centres médicaux
            </h3>
        </section>
        <section id="hospital" class="row container-fluid mx-auto">
            {% for hospital in hospitals %}
                {% include "components/molecules/hospitalDescription.html.twig" with {
                    title :hospital.name,
                    subTitle : hospital.subTitle,
                    description : hospital.content,
                    phoneNumber : hospital.phoneNumber,
                    email : hospital.email
                } %}
            {% endfor %}


        </section>
    </section>
{% endblock %}
