{% extends 'country/layout.html.twig' %}

{% block title %}Informations par pays
{% endblock %}

{% block body %}
    <section id="top-page">

        <div id="social-top-page" class="bg-success-800 text-center py-5">
            {% include "components/atoms/aboutTitle.html.twig" with {
                pageName : country.name | country_name
            } %}
        </div>

        <section id="theme">
            <h1 class="display-1 text-success-800 d-block text-center mt-5 fw-bold">Informations par thématique</h1>
            <div class="text-center d-flex flex-column align-items-center">
                {% include "components/atoms/btnOutlineShare.html.twig" with {
                content : "Hôpitaux & Centres médicaux",
                id: "hospital"
                } %}
                {% for hospital in hospitals %}

                    {% include "components/molecules/hospitalDescription.html.twig" with {
                    title: hospital.name,
                    subTitle: hospital.subTitle,
                    description: hospital.content,
                    phoneNumber: hospital.phoneNumber,
                    email: hospital.email
                } %}

                {% endfor %}

                {% include "components/atoms/btnOutlineShare.html.twig" with {
                content : "Annuaire spécialistes locaux",
                id: "partner"
                } %}
                {% for partner in partners %}
                    {% include "components/molecules/partnerDescription.html.twig" with {
                    name: partner.name,
                    activity: partner.activity,
                    type: partner.type,
                    description: partner.description,
                    phoneNumber: partner.phoneNumber,
                    email: partner.email,
                    contact: partner.contact,
                } %}

                {% endfor %}

                {% include "components/atoms/btnOutlineShare.html.twig" with {
                content : "Commerces dédiés"
                } %}
                {% include "components/atoms/btnOutlineShare.html.twig" with {
                content : "Annuaire associations"
                } %}
                {% include "components/atoms/btnOutlineShare.html.twig" with {
                content : "Offres de services dédiés"
                } %}
                {% include "components/atoms/btnOutlineShare.html.twig" with {
                content : "Dispositifs étatiques"
                } %}
                {% include "components/atoms/btnOutlineShare.html.twig" with {
                content : "Statistiques"
                } %}
                {% include "components/atoms/btnOutlineShare.html.twig" with {
                content : "Plus..."
                } %}
            </div>
        </section>
    </section>
{% endblock %}
