{% extends 'country/layout.html.twig' %}

{% block title %}Informations par pays
{% endblock %}

{% block body %}
    <section id="top-page">

        <div id="social-top-page" class="bg-success-800 text-center py-5">
            {% include "components/atoms/aboutTitle.html.twig" with {
                pageName : country.name | country_name
            } %}
        </div>

        <section id="theme">
            <h1 class="display-1 text-success-800 d-block text-center mt-5 fw-bold">Informations par thématique</h1>
            <div class="text-center d-flex flex-column align-items-center">
                {% include "components/organisms/boxHospital.html.twig" %}

                {% include "components/organisms/boxPartner.html.twig" %}

                {% include "components/atoms/btnOutlineShare.html.twig" with {
                content : "Commerces dédiés"
                } %}
                {% include "components/atoms/btnOutlineShare.html.twig" with {
                content : "Annuaire associations"
                } %}
                {% include "components/atoms/btnOutlineShare.html.twig" with {
                content : "Offres de services dédiés"
                } %}
                {% include "components/atoms/btnOutlineShare.html.twig" with {
                content : "Dispositifs étatiques"
                } %}
                {% include "components/atoms/btnOutlineShare.html.twig" with {
                content : "Statistiques"
                } %}
                {% include "components/atoms/btnOutlineShare.html.twig" with {
                content : "Plus..."
                } %}
            </div>
        </section>
    </section>
{% endblock %}
