<a href={% block src %} {{ path(href) }} {% endblock %} {% block target %}{% endblock %} class="text-center">
    <div class="text-success-800 container">
        <span class="display-5 fw-bold d-block">
            {{title}}
        </span>
        <span class="fs-1 text-muted">
            {{content}}
        </span>
    </div>
   {% block content %}{% endblock %}
</a>
