<div class="col-12">
    <h4 class="display-4 fw-bold text-success-800 text-center my-3">{{title}}</h4>
    <div class="fs-1 text-center">
        <span class="d-block">{{subTitle}}</span>
        <span class="d-block">{{description}}</span>
        <span class="text-muted fst-italic d-block">{{contact}}</span>
    </div>
</div>
