{% extends 'assistance/layout.html.twig' %}

{% block title %}Hello AssistanceController!
{% endblock %}

{% block body %}
    <section
        id="top-page">
        {# Top-page #}
        <section id="#share-top-page" class="bg-success-800 py-3">
            <div class="row container-fluid">
                <img src={{asset('images/share.jpg')}} alt="homme africain" class=" img-responsive col-5">
                <div class="col-7 d-flex align-items-center justify-content-center text-center">
                    <h1 class="display-1 text-light col-12 font-monospace">Téléchargez notre e-book</h1>
                </div>
            </div>
        </section>
        {# Connection #}
        <section id="connection" class="row my-5 container-fluid">
            <div class="col-5 display-1 d-flex">
                <i class="fa-solid fa-pen"></i>
                <span class="text-primary-800 fs-1 fw-bold">Partagez vos infos</span>
            </div>
            <div class="col-7 text-end">
                <a href="#" class="btn btn-success fs-1 shadow rounded-pill">Connectez-vous</a>
            </div>
        </section>
        {# theme #}
        <section id="theme">
            <h1 class="display-1 text-warning-300 font-monospace d-block text-center">Informations par thématique</h1>
            <div class="text-center">
                {% include "components/atoms/btnOutlineShare.html.twig" with {
                content : "Hôpitaux & Centres médicaux"
            } %}
                {% include "components/atoms/btnOutlineShare.html.twig" with {
                content : "Commerces spécialisés"
            } %}
                {% include "components/atoms/btnOutlineShare.html.twig" with {
                content : "Annuaire spécialistes locaux"
            } %}
                {% include "components/atoms/btnOutlineShare.html.twig" with {
                content : "Annuaire associations"
            } %}
                {% include "components/atoms/btnOutlineShare.html.twig" with {
                content : "Offres de services dédiés"
            } %}
                {% include "components/atoms/btnOutlineShare.html.twig" with {
                content : "Dispositifs étatiques"
            } %}
                {% include "components/atoms/btnOutlineShare.html.twig" with {
                content : "Statistiques"
            } %}
                {% include "components/atoms/btnOutlineShare.html.twig" with {
                content : "Plus..."
            } %}
            </div>
        </section>
        {# section country #}
        <section id="country" class=" d-flex align-items-end justify-content-center">
            <div class="form-floating opacity-75 mb-5">


                {% for country in countries %}
                    <a href="{{ path('app_country_show', {'id': country.id}) }}" class="btn btn-light">{{country.name}}</a>
                {% endfor %}

                {#  <label for="floatingSelect">Côte d'Ivoire</label> #}
            </div>
        </section>
        {# section share-bottom-page #}
        <section id="share-bottom-page" class="container-fluid display-5 my-3 text-center">
            <p class="d-block">Les Informations reportées ci-dessous ont été obtenues grâce à des campagnes de collecte d'information que nous avons menées via des questionnaires et des interviews.</p>
            <p class="fw-bold">Nous avons besoins de vos commentaires et informations pour enrichir cette rubrique!</p>
        </section>
    </section>
{% endblock %}
