@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");

$success-800: #043106;
$warning: #ffc107;
$warning-200: #f0dca0;
$gray-300: #ebe8e8;

.title {
    text-shadow: 8px 8px 6px #043106 !important;
}
.sub-title{
  text-shadow: 8px 8px 6px $gray-300 !important;
}
.text-font-1 {
  font-family: "Montserrat", sans-serif;
}
.text-success-800 {
  color: $success-800;
}
.bg-success-800 {
  background-color: $success-800;
}
.bg-warning-200{
    background-color: $warning-200;
}
.btn-success {
  background-color: $success-800;
}
.circle {
  height: 100px;
  width: 100px;
  background-color: $warning;
  border: 5px solid $warning;
  border-radius: 50%;
}
