@import "./variables";
$success-1000: #040e01;
section#who-top-page {
  background-color: $success-800;
  min-height: 10vh;
}
div#who {
  min-height: 70vh;
  background-color: rgb(207, 223, 187);
}

.c4-izmir {
  --primary-color: #043106;
  --secondary-color: #d0206e;
  --transition-duration: 500ms;
  --border-width: 6px;
  --overlay-opacity: 0.5;
}


