@import "./variables";

h3.title {
  text-shadow: 2px 10px $success-800;
}

/* section country top page */
section#country-top {
  height: 10vh;
}

/* section country */
section#country-theme {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 20vh;
  width: 100vw;
}

section.country-hospital {
  background-image: url("../../public/images/chu.png");
}

section.country-market {
  background-image: url("../../public/images/africa.jpg");
}

section.country-specialist {
  background-color: rgb(1 69 69);
}

section.country-association {
  background-color: brown;
}

section.country-service {
  background-color: rgb(42 165 79);
}

section.country-state-service {
  background-color: rgb(65 27 136);
}

section.country-static {
  background-color: rgb(91 19 68);
}

section.country-plus {
  background-color: rgb(188 212 52);
}
