@import "./variables";

.active {
  color: $warning;
}
.float-button {
  top: 30vh;
  position: fixed;
  top: 30vh;
  right: 0vh;
}
.return-up{
  bottom: 5vh;
  position: fixed;
  right: 1vh;
  padding: 5px;
}
/* Top page */
section#top-page {
  background-image: url("../../public/images/africa.jpg");
  background-size: cover;
  background-position: center center;
  height: 100vh;
  background-repeat: no-repeat;
  .title {
    text-shadow: 8px 8px 6px #043106 !important;
  }
  .sub-title {
    text-shadow: 8px 8px 6px $gray-300 !important;
  }
  .text-title {
    color: rgb(129, 126, 126);
  }
}

/* Section services */
section#services {
  padding: 5rem;
}
/* Section vision */
section#vision {
  height: 100vh;
  padding: 5rem 0;
}
/* Section about */
section#about {
  padding-top: 5rem;
  height: auto;
  .btn-circle {
    width: 250px;
    height: 250px;
    margin-bottom: 200px;
    border: 10px solid $gray-300;
  }
  .position-circle-text-end {
    position: absolute;
    top: 0;
    left: 18rem;
    width: 16rem;
  }
  .position-circle-text-start {
    position: absolute;
    top: 0;
    right: 18rem;
    width: 16rem;
  }
}
/* Section commitment */
section#commit {
  height: 100vh;
  padding: 5rem;
  background-color: $gray-300;
}
/* media queries laptop */
@media only screen and (min-width: 1000px) {
  .float-button a {
    display: none;
  }
  section#top-page {
    background-image: url("../../public/images/couple.jpg");
    background-size: cover;
    background-position: center center;
  }
  section#services {
    height: auto;
  }
  section#vision {
    height: auto;
  }

  section#about {
    height: auto;
    .position-circle-text-end {
      position: absolute;
      top: 0;
      left: 18rem;
      width: 30rem;
    }
    .position-circle-text-start {
      position: absolute;
      top: 0;
      right: 18rem;
      width: 30rem;
    }
  }
}
