@media (max-width: 991.98px) {
  span.join {
    font-size: 2em;
  }
  button.btn {
    font-size: 3.5em;
  }
  .form-floating input {
    &.form-control {
      padding: 2em 10px !important;
      font-size: 2em;
    }
  }
  label {
    font-size: 2em !important;
  }
}
