<div class="display-5 text-font-1 text-uppercase text-light">
    <a class="text-decoration-none" href={{ path('app_home_index') }}><img src="{{ asset('images/logo_1.png') | imagine_filter('logo') }}" alt="maisonphilo" class="bg-light rounded-circle">
    </a>
    <span class="">{{pageName}}</span>

</div>
