<button class="back bg-transparent border-0" onclick="history.back()">
    <i class="fa-solid fa-angle-left bg-light text-success-800 display-1 rounded-circle p-3"></i>
</button>
<a href="#top-page" class="return-up">
    <i class="fa-solid fa-angle-up bg-light text-success-800 display-1 rounded-circle p-3"></i>
</a>
