<div class="col-lg-4 col-md-10 mt-5">
    <i class="{{font}} text-light p-5 circle"></i>
    <h4 class="my-3 display-3 fw-bold">{{title}}</h4>
    <p class="text-muted mx-auto  display-5">{{content}}</p>
</div>
