<div class="position-fixed end-0 top-50
 d-flex flex-column me-1 float-button opacity-50">
    <a href="#services" class="btn btn-success fs-1">S</a>
    <a href="#vision" class="btn btn-success fs-1">V</a>
    <a href="#about" class="btn btn-success fs-1">A</a>
    <a href="#commit" class="btn btn-success fs-1">C</a>
</div>
