<div class="d-flex flex-column float-button">
    <a href="#services" class="btn btn-success fs-1">S</a>
    <a href="#vision" class="btn btn-success fs-1">V</a>
    <a href="#about" class="btn btn-success fs-1">A</a>
    <a href="#contact" class="btn btn-success fs-1">C</a>
    <a href="#commit" class="btn btn-success fs-1">E</a>
</div>
<a href="#top-page" class="return-up">
    <i class="fa-solid fa-angle-up bg-light text-success-800 display-1 rounded-circle p-3"></i>
</a>
