<div class="position-fixed end-0 top-50 d-flex flex-column bg-light opacity-75 me-1 float-button">
    <a href="#services" class="btn btn-transparent fs-1">O</a>
    <a href="#vision" class="btn btn-transparent fs-1">O</a>
    <a href="#about" class="btn btn-transparent fs-1">O</a>
    <a href="#commit" class="btn btn-transparent fs-1">O</a>
</div>
