<a href={{ path(href | default("#")) }} class="text-center z-index p-2 text-decoration-none text-black {{class | default("")}}">
  <i class="fa-solid fa-{{font}} display-1 rounded-circle p-3 rounded-circle bg-light shadow">
  </i>
  <p class="fs-2 fw-bold bg-light opacity-50">
    {{content | trans | default("")}}
  </p>
</a>