<a href={{ path(href | default("#")) }} class="text-center d-none z-index p-2 {{class | default("")}}">
  <i class="fa-solid fa-{{font}} display-1 rounded-circle p-3 rounded-circle text-black bg-light shadow">
  </i>
  <p class="fs-2 text-black fw-bold">
    {{content | default("")}}
  </p>
</a>