<div class="position-fixed bottom-50 end-0 p-3" style="z-index: 11">
  <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true"data-bs-delay="2000">
    <div class="toast-header">
      <img src={{ asset('images/logo_1.png') }} alt="maison philo">
      <strong class="me-auto"></strong>
      <small>Revenez plus tard</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body bg-success text-light">
      Cette page est en cours de construction
    </div>
  </div>
</div>