<section id="foote" class="bg-success-800 text-light text-center opacity-75">
    <div class="container-fluid">
        <p class="text-center fw-bold">
            &copy
            {{"now" | date("Y")}}
            Maison Philo
        </p>
        <div class="row text-warning-300 align-items-center mx-auto container-fluid">
            <div class="col">A propos de nous

            </div>
            <div class="col text-light">|</div>
            <div class="col">Plan du site

            </div>
            <div class="col text-light">|</div>
            <div class="col">Conditions générales</div>
            <div class="col-12">
                <div class="d-block display-3 text-light">
                    <i class="fa-brands fa-facebook-square"></i>
                    <i class="fa-brands fa-linkedin"></i>
                    <i class="fa-brands fa-twitter-square"></i>
                </div>

            </div>

        </div>

    </div>
</section>
