<section id="top-page" class"container-fluid">
    <section id="top" class="d-flex align-items-center justify-content-center mb-5">
        {% include "components/atoms/aboutTitle.html.twig" with {
            pageName : pageName
        } %}
    </section>
    {% block content %}{% endblock %}
</section>
